.App {
  text-align: center;
  padding-top: 30%;
}

.Button {
  color: #080705;
  font-size: 300%;
  background-color: #993042;
  border-radius: 3px;
  border: 0px solid #993042;
  font-family: 'Roboto';
  letter-spacing: 3px;
  margin-top: 2rem;
}

.Generated {
  color: #912F40;
}

.Text {
  color: #080705;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}